@keyframes flash_background {
  0% {
    background-color: @surface0;
    color: @text;
  }
  100% {
    background-color: @red;
    color: @crust;
  }
}

#custom-mic_access,
#custom-camera_access {
  animation: flash_background 0.8s infinite ease-in-out;
  background-color: @red;
  color: @crust;
  font-size: 1em;  
}
